Make emails lowercase in testbed boostrapping

emails with capital letters results in names that don't match invite data

Email address format is defined in [RFC 5322 section 3.4.1](https://datatracker.ietf.org/doc/html/rfc5322#section-3.4.1).
In particular, the local-part portion is a domain-dependent string.

The receiving email server can interpret the local-part as being case-sensitive.
It is incorrect to case-fold the local-part.
`A@example.com` and `a@example.com` are two different inboxes.

On the other hand, the domain should be converted to lowercase only.

> This is insightful application of Postel's law en.wikipedia.org/wiki/Robustness_principle. It remains wrong to write software that assumes local parts of email addresses are case-insensitive, but yes, given that there is plenty of wrong software out there, it is also less than robust to require case sensitivity if you are the one accepting the mail. – Mattie B

Source: https://stackoverflow.com/a/13044762

If the receiver needs case sensitivity - sorry you're out of luck.